@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #283C5F;
    --foreground: #DDD;

    --border-color: var(--foreground);

    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);

    main {
        overflow: hidden;
    }
}

h1 {
    @apply text-5xl font-bold;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

@keyframes wiggle {
    40% {
        transform: rotate(0deg);
    }
    45% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    55% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(0deg);
    }
}

@layer utilities {
    .skewed {
        @apply skew-x-1 md:skew-x-3;
    }

    .skewed-reverse {
        @apply -skew-x-1 md:-skew-x-3;
    }
}
